form fieldset{
    border-style: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px #a0a0a0;
}

form fieldset legend{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 5px #a0a0a0;
}

.form-help{
    font-size: 0.8rem;
}

article form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

form label, 
.form-help, 
input[type="radio"], 
input[type="checkbox"]{
    margin-left: 10%;
}

form label{
    display: inline-block;
    width: 200px;
}

form input[type="text"],
form input[type="email"],
form select{
    line-height: 1.5rem;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
}

form select{
    height: 1.5rem;
}